{% include 'base.html' %} {% block content %}
<style>
    .div {
        text-align: center;
    }
</style>
<h2>dependents</h2>


<form class="d-flex" action="" method="get">
    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" />

    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="row card-center"> owener:{{user.login}}
    <span>name:{{user.name}}</span>

    <span>name:{{user.blog}}</span><span>bio:{{user.bio}}</span>
</div>


<div class="card-header">
    <ul class="nav nav-tabs nav-stacked">
        <li class="nav-item">
            <a href="#Repository" class="nav-link active">Repository</a>
        </li>

        <li class="nav-item ">
            <a href="#" class="nav-link">Disabled</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-3">

            <div class="card-body" id='Repository'>
                {% for a in Repository %}
                <h6>{{a.full_name}}</h6><br> {{a.description}}<a href="{{a.homepage}}">homepage</a><br><br>
                <!-- {{a.keywords}}
    {{a.size}} {{a.default_branch}} {{a.has_readme}} -->
                {% endfor %}
                <!-- {{Repository}} -->

            </div>
        </div>

        <div class="col-3">
            <h1>project</h1>
            <!-- {{project}} -->
            {% for p in project %}
            <h6>{{p.dependent_repos_count}}</h6>{{p.name}}<br> {{p.description}}<a href="{{p.homepage}}">homepage</a><br><br> {{p.stars}} {{a.size}} {{a.default_branch}} {{a.has_readme}} {% endfor %}

        </div>
        <div class="col-3">
            <h1>contributions</h1>
            {{contributions}}
            <!-- {% for p in project %}
       <h6>{{p.dependent_repos_count}}</h6>{{p.name}}<br> {{p.description}}<a href="{{p.homepage}}">homepage</a><br><br>
       {{p.stars}}
  {{a.size}} {{a.default_branch}} {{a.has_readme}} 
      {% endfor %} -->

        </div>
        <div class="col-3">
            <h1>project_CON</h1>
            {{proj}}
        </div>
    </div>
</div>
<script src="github.js">
</script>

{% endblock %}