{% extends "base.html" %} {% load static %}
{% block content %}

<style>
  #button {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: #eee;
    border: solid #ccc 1px;
    cursor: pointer;
  }

  #overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
  }

  .cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
  }

  @keyframes sp-anime {
    100% {
      transform: rotate(360deg);
    }
  }

  .is-hide {
    display: none;
  }
</style>

<div class="offcanvas-body" id='sidebar'>
  <div>
  </div>


  <div class="row" id="idrow">
    {% for a in con %}

    <div class="platform col-xs-6 col-sm-3 col-md-3">
      <h4>
        <div class="blurb">
          <a class="likebutton btn-lg" id="like{{ a.name }}" href="search/?q={{a.name}}&sort=rank" name="qw"
            data-catid="{{ a.name }}">{{a.name}}
          </a>
          <h>{{a.project_count}} </h>


        </div>
      </h4>
    </div>
    {% endfor %}
  </div>



</div>
</div>

</div>
<div class="get-data" id="check"> sss</div>


<div class="id_100">
  <select>
    <option value="rank">rank</option>
    <option value="stars">stars</option>
    <option value="dependents_count"> dependents_count</option>
    <option value="dependent_repos_count">dependent_repos_count</option>
    <option value="latest_release_published_at"> latest_release_published_at</option>
    <option value="contributions_count"> contributions_count</option>
    <option value="created_at"> created_at</option>

  </select>
</div>

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<div class="row" id="checking">


</div>

{% endblock %}

{% block javascript%}

<script src="{% static 'js/index.js' %} "></script>
{% endblock%}