{% extends "base.html" %} {% load static %} {% block content %}

<style>
    #button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #eee;
        border: solid #ccc 1px;
        cursor: pointer;
    }
    
    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.6);
    }
    
    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }
    
    @keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }
    
    .is-hide {
        display: none;
    }
</style>

<form action="" method="get"></form>
<div class="row " id="idexvalue">
    {% for a in con %}

    <div class="col-sm-4  p-2 bg-dark">
        <div class="card">
            <div class="card-body bg-red">
                <!-- <a class="likebutton btn-lg" id="like{{ a.name }}" href="" name="qw" data-catid="{{ a.name }}">{{a.name}}</a> -->
                <h3 class="card-title">{{ a.name }}</h3>
                <span class="badge bg-primary rounded-pill">{{ a.project_count }}</span>

                <!-- <p class="card-text">{{ a.project_count }}</p> -->
                <p class="card-text">{{ a.color }}</p>

                <a href="{{ a.homepage }}" class="btn btn-primary">homepage</a>

                <a class="btn btn-lg" href="/search/?q={{a.name}}&sort=rank">{{ a.name }}</a>
                <!-- <form action="/search" method="get">
                    <input type="hidden" id='aa' name='q' value="{{ a.name }}">
                    <button type="submit" class="btn btn-primary" name='sort' value="rank">{{ a.name }}</button>
                </form> -->
                <!-- <button type="submit" class="btn btn-primary" value="{{ a.name }}">Submit</button> -->
                <!-- <a class="likebutton btn-lg" id="like{{ a.name }}" href="/search" name="qa" data-catid="{{ a.name }}">{{a.name}} -->
                </a>

            </div>
        </div>
    </div>

    {% endfor %}




</div>


<div class="results">

</div>





{% endblock %} {% block javascript%} {% endblock%}