{% extends "base.html" %} {% load static %} {% block content %}


<form action="/search" method="get">
    <h1 class="card-header" name='q' value='{{qa}}' data-catid="{{qa}}">{{qa}}</h1>

    <div class="id_100">
        <input type="hidden" name='q' value='{{qa}}' data-catid="{{qa}}">{{qa}}</input>

        <button class="btn " href="" type="submit" name='sort' value="rank">rank</button>
        <button class="btn " href="" type="submit" name='sort' value="stars">stars</button>
        <button class="btn " href="" type="submit" name='sort' value="dependents_count"> dependents_count</button>
        <button class="btn " href="" type="submit" name='sort' value="dependent_repos_count">dependent_repos_count</button>
        <button class="btn " href="" type="submit" name='sort' value="latest_release_published_at"> latest_release_published_at</button>
        <button class="btn " href="" type="submit" name='sort' value="contributions_count"> contributions_count</button>
        <button class="btn " href="" type="submit" name='sort' value="created_at"> created_at</button>


    </div>

</form>
<div class="row">
    <div class="col-2"></div>

    <div class="col-7">
        <!-- {{conme}} -->
        {% for a in conme %}
        <div class="card ">
            <div class="card-header">
                <a href="/detail/?platform={{qa}}&name={{a.name}}" rel="noopener noreferrer ">{{a.name}}</a>

            </div>
            <div class="row ">
                <!-- <h5 class="card-title ">{{a.name}}</h5> -->
                <h6>{{a.dependent_repos_count}} &nbsp; {{a.dependents_count}}</h6>
                <p class="card-text ">{{a.description}}</p>
                <form action="/detail" method="get ">
                    <input type="hidden" id='platform' name='platform' value='{{qa}}' data-catid="{{qa}}"></input>
                    <button name="name" id="name" value="{{a.name}}" class="btn btn-primary">Go somewhere</button>
                </form>
                <!-- <button type="submit" class="oky">submit</button> -->
            </div>
        </div>

        <br> {% endfor %}

    </div>

</div>

{% endblock %} {% block javascript %}
<script>
    $(document).ready(function() {
        // alert('alert')
        $('.oky').click(function(e) {
            e.preventDefault();
            id = $("#platform").attr("data-catid");
            // short=$("div.id_100 select ").val("val2 ");
            sort = $("#name").val();
            // $("#offcanvasExample ").hide();
            alert(sort)
            alert(id)
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/detail",
                data: {
                    'platform': id,
                    'name': sort,
                },

                success: function(response) {
                    console.log(response.d)

                }
            });
            //    a=$(this).val("data-catid ");






            // .done(console.log("okay "))




        });

    });
</script>
{% endblock javascript %}